@import 'sass/variables';
@import 'sass/extends';
@import 'sass/mixins';

/* general styles */
body{
    color: $text-gray-color;
    padding-bottom: 2rem;
}
h1, h2, h3, h4, h5, h6 {
    margin:0;
}
p {
    margin:0;
}
button {
    @extend %main-button;
}

/* START web app sections */

/* header-section */
header {
    background: $background-secondary-color;
    @include box-shadow($top, $left, $blur, $color);
    height: 75px;
    p {
        color: $text-gray-color;
        margin:0;
    }
}

/* section-gallery */
    /* section-event */
    .section-gallery { 
        .section-event {
            border: $border-box;
            .section-event-header {
                p {
                    color: $text-primary-color;
                }
            }
        }
    }

/* returning nav */
.nav-return {
    a {
        color: $text-primary-color;
        :hover {
            text-decoration: underline;
        }
    }
}

/* session selector */
.section-sessions-selector {
    border: $border-box;
    i {
        color: $text-primary-color;
        cursor: pointer;
    }
}

/* section-shopping-cart */
.section-shopping-cart {
    border: $border-box;
    img {
        width: 20px;
        cursor: pointer;
    }
    .section-shopping-cart-item:last-child {
        margin-top: 1rem;
    }
}