/* font */
/* font colors */
/* font sizes */
/* padding boxes */
/* background colors */
/* border-box */
/* box-shadow mixin */
/* font */
/* font colors */
/* font sizes */
/* padding boxes */
/* background colors */
/* border-box */
/* box-shadow mixin */
/* main button */
button {
  border: 0;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background: #038cba;
  width: 100%; }

/* main link */
/* font */
/* font colors */
/* font sizes */
/* padding boxes */
/* background colors */
/* border-box */
/* box-shadow mixin */
/* box shadow */
/* general styles 01 */
body {
  color: #6b6b6b;
  padding-bottom: 2rem; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

p {
  margin: 0; }

/* START web app sections */
/* header-section */
header {
  background: #86ceeb;
  -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  height: 75px; }
  header p {
    color: #6b6b6b;
    margin: 0; }

/* section-gallery */
/* section-event */
.section-gallery .section-event {
  border: 1px #CCC solid;
  height: 100%; }
  .section-gallery .section-event .section-event-header p {
    color: #038cba; }
  .section-gallery .section-event .section-event-button{
    flex-grow: 1; }
    .section-gallery .section-event .section-event-button a{
      width: 100%; }

/* returning nav */
.nav-return a {
  color: #038cba; }
  .nav-return a :hover {
    text-decoration: underline; }

/* session selector */
.section-sessions-selector {
  border: 1px #CCC solid; }
  .section-sessions-selector i {
    color: #038cba;
    cursor: pointer;
    margin:0 0.4rem; }

/* section-shopping-cart */
.section-shopping-cart {
  border: 1px #CCC solid; }
  .section-shopping-cart img {
    width: 20px;
    cursor: pointer; }
  .section-shopping-cart .section-shopping-cart-item {
    margin-bottom: 1rem; }
  .section-shopping-cart .section-shopping-cart-item:last-child {
    margin-bottom: 0; }