@import './variables';

/* main button */
%main-button {
    border: 0;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    color: $text-white-color;
    background: $background-primary-color;
    width: 100%;
}

/* main link */
%main-link {
    color: $text-primary-color;
}